<html>
  <head>
    <title>Patient Dashboard</title>
    <script type="text/javascript" language="javascript"
    src="/touchscreentoolkit/lib/javascripts/touchScreenToolkit.js" defer  ></script>
    <meta http-equiv='content-type' content='text/html;charset=UTF-8' />
    <script language="javascript">
      tstUsername = "";
      tstCurrentDate = "<%= @date %>";
      //tt_cancel_destination = '/clinic';
      tt_cancel_show = '/clinic';
    </script>
    <style>
      #tab6 {
        background-color: white;
        border: 0 none;
        color: black;
        font-weight: bold;
      }
    </style>
  </head>
  <body>
    <div id='content'>
      <div id='description' style='color:#777;position:absolute;margin-top:-70px;'></div>

      <form id = 'dashboard' action='/clinic'>
        <<h1 id='project_name'>
          <div style="font-size: 0.8em; margin-top: 12px; color: #6281a7;">maternity</div>
        </h1>
        <span id='patient_name'><%= @patient_bean.name rescue "" %></span>
        <span id='patient_id'><%= @patient_bean.national_id_with_dashes rescue "" %></span>
        <span id='patient_residence'><%= @patient_bean.current_residence rescue "" %></span>
        <span id='patient_age'><%= @patient_bean.age rescue "" %></span>
        <span id='patient_gender'><%= @patient_bean.sex rescue "" %></span>
		<%
			task = @task
			task_name = (task.encounter_type || 'NONE').upcase rescue 'NONE'
		%>
        <select id="tabs">
			<option value='/patients/visit_history?patient_id=<%= @patient.id  %>'>Current Visit</option>
			<option value='/patients/past_visits_summary?patient_id=<%= @patient.id  %>'>Past Visits</option>
			<option value='/patients/maternity_visit_history?patient_id=<%= @patient.id  %>'>Maternity Past Visits</option>
			<option value='/patients/programs?patient_id=<%= @patient.id %>'>Outcomes</option>
			<option value='/patients/personal/<%= @patient.id -%>'>Printouts/Other</option>
			<option value='/patients/next_task_description?task_id=<%= task.id -%>'>
				NEXT TASK: <%= task_name.gsub('_',' ') %>
			</option>
        </select>

        <% if @patient.person.dead == 1%>
          <select id="links">
            <option value='/patients/programs_dashboard/<%= @patient.id -%>'>Outcomes</option>
          </select>
          <select id="navigation_links">
            <option link="/patients/mastercard_menu?patient_id=<%= @patient.id -%>&source=<%= @source -%>">Mastercard</option>
            <option link='<%= ((session[:datetime].to_date rescue '') != '' ?
                        "/people/reset_datetime/#{@patient_bean.id}" : "/people/set_datetime/#{@patient.id}") %>'  ttSize="160px">
              <%= ((session[:datetime].to_date rescue '') != '' ? "Reset Date" : "Set Date") %></option>
          </select>
        <% else %>
          <select id="links">
            <option value='/patients/admissions_dashboard?patient_id=<%= @patient.id %>'>Admission Exams</option>
            <!--option value='/patients/programs_dashboard/<%= @patient.id %>'>Update Outcome</option-->
            <option value='/patients/maternity_demographics?patient_id=<%= @patient.id %>'>Full Demographics</option>
            <option value='/patients/print_registration?patient_id=<%= @patient.id %>'>Print Registration</option>
            <option value="/encounters/new/observations_print?patient_id=<%= @patient.id %>"> Print Admission Note</option>
          </select>
          <select id="navigation_links">
            <option link="/encounter_types?patient_id=<%= @patient.id -%>" ttSize = "160px">Tasks</option>
            <!--option link="/patients/mastercard_menu?patient_id=<%= @patient_bean.id -%>&source=<%= @source -%>">Mastercard</option-->
            <option link='<%= ((session[:datetime].to_date rescue '') != '' ?
                        "/people/reset_datetime/#{@patient_bean.id}" : "/people/set_datetime/#{@patient_bean.id}") %>'  ttSize="160px">
              <%= ((session[:datetime].to_date rescue '') != '' ? "Reset Date" : "Set Date") %></option>
          </select>
        <% end %>
        <input type='submit' value='Finish' />
      </form>
    </div>
  </body>
</html>
