<%= javascript_include_tag "touchscreen" %>                                     
<%= stylesheet_link_tag fancy_or_high_contrast_touch %>
<base target="_parent">
<div id="task_description" style=" width: 100%; height: 320px; overflow: auto;">
  <%#=@task.encounter_type%>
</div>
</base>
